:local {
  .mainHeading {
    margin-bottom: 35px;
    margin-left: 4px;
    text-decoration: underline;
  }
  .projectNameStyle {
    text-transform: uppercase;
    font-weight: bold;
  }
  .allTasksWrapper {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .sticky {
    z-index: 1000;
    margin-top: 0;
    transition-property: margin-top;
    transition-duration: 0.3s;
  }
  .stickySlideIn {
    margin-top: 20px;
  }

  .divider {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-top: 20px;
    margin-bottom: 20px;
  }


}
