@import "./../../../scss/colors";

:local {

  .deadlineOver {
    color: $warning!important;
  }

  .deadlineDay {
    color: $deadlineDay!important;
  }

  .datepickerPopper :global {
    .react-datepicker__time-container--with-today-button {
      right: -102px;
    }
    .react-datepicker__time-container {
      width: 100px;
    }
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
      width: 108px;
    }
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
      padding-left: 0; 
    }
  }

}
