:local .deadlineOver {
  color: #9f3a38 !important; }

:local .deadlineDay {
  color: #2185d0 !important; }

:local .datepickerPopper :global .react-datepicker__time-container--with-today-button {
  right: -102px; }

:local .datepickerPopper :global .react-datepicker__time-container {
  width: 100px; }

:local .datepickerPopper :global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 108px; }

:local .datepickerPopper :global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0; }
