:local {
  .content {
    background-color: #fff;
    padding: 20px;
  }
  .message {
    box-shadow: none!important;
  }
  .buttonGroup {
    width: 174px;
    margin: 0 auto;
  }
  .btnMargin {
    margin-left: 5px !important;
  }
  .text {
    font-size: 15px;
  }
}
