:local .content {
  background-color: #fff;
  padding: 20px; }

:local .message {
  box-shadow: none !important; }

:local .buttonGroup {
  width: 174px;
  margin: 0 auto; }

:local .btnMargin {
  margin-left: 5px !important; }

:local .text {
  font-size: 15px; }
