@import "./../../../../scss/mixins";

:local {

  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint($xs) {
      width:350px;
      margin: 0 auto;
    }
  }
  .grid {
    min-height: 600px;
  }
  .forgotPasswordLink {
    display: block;
    width: 112px;
    margin: 10px auto;
  }
  .divider {
    font-size: 12px !important;
  }

}
