/* BREAKPOINT */
/* Sample:
.content {
  @include breakpoint($xs) {
    width: 100px;
  }
}
*/
:local .wrapper {
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 767px) {
    :local .wrapper {
      width: 350px;
      margin: 0 auto; } }

:local .grid {
  min-height: 600px; }

:local .forgotPasswordLink {
  display: block;
  width: 112px;
  margin: 10px auto; }

:local .divider {
  font-size: 12px !important; }
