@import "./../../../../scss/mixins";

:local {
  .logo {
    font-family: 'Gaegu', cursive;
    font-size: 60px;
    width: 220px;
    margin: 0 auto;
    color: #135b90;
    @include breakpoint($xs) {
      margin-top: 90px;
    }
  }
  .explanation {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin-top: 45px;
    margin-left: 8px;
  }
}
