/* BREAKPOINT */
/* Sample:
.content {
  @include breakpoint($xs) {
    width: 100px;
  }
}
*/
:local .logo {
  font-family: 'Gaegu', cursive;
  font-size: 60px;
  width: 220px;
  margin: 0 auto;
  color: #135b90; }
  @media screen and (max-width: 767px) {
    :local .logo {
      margin-top: 90px; } }

:local .explanation {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin-top: 45px;
  margin-left: 8px; }
