:local .grid {
  min-height: 500px; }

:local .backLink {
  display: inline-block;
  margin-left: 5px;
  margin-top: 6px; }

:local .backLinkPosition {
  position: relative;
  top: -6px;
  margin-top: 0; }

:local .segment {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important; }
