:local {
  .grid {
    min-height: 500px;
  }
  .backLink {
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px;
  }
  .backLinkPosition {
    position: relative;
    top: -6px;
    margin-top: 0;
  }
  .segment {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}
