:local .bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

:local .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
