:local .popupHeader {
  margin-top: 30px; }

:local .iconWrapper {
  cursor: pointer;
  display: inline-block;
  padding: 15px 15px 15px 6px; }

:local .groupHeading {
  display: inline-block; }

:local .groupHeadingIcon {
  font-size: 15px !important;
  color: #4e4e4e; }
