:local {
  .popupHeader {
    margin-top: 30px;
  }
  .iconWrapper {
    cursor: pointer;
    display: inline-block;
    padding: 15px 15px 15px 6px;
  }
  .groupHeading {
    display: inline-block;
  }
  .groupHeadingIcon {
    font-size: 15px!important;
    color: #4e4e4e;
  }
}
