:local {
  .listItem {
    margin-top: 40px;
  }
  .innerPadding {
    padding: 20px !important;
  }

  .nameDateGroup {
    float: left;
  }
  .name {
    margin-bottom: 8px;
  }
  .date {
    font-size: 13px;
  }
  .commonTextStyle {
    font-size: 15px;
    white-space: pre-line;
  }
  .description {
    composes: commonTextStyle;
    line-height: 26px;
  }
  .header {
    composes: commonTextStyle;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .btnGroup {
    float: right;
  }

}
