:local .listItem {
  margin-top: 40px; }

:local .innerPadding {
  padding: 20px !important; }

:local .nameDateGroup {
  float: left; }

:local .name {
  margin-bottom: 8px; }

:local .date {
  font-size: 13px; }

:local .commonTextStyle {
  font-size: 15px;
  white-space: pre-line; }

:local .description {
  composes: commonTextStyle;
  line-height: 26px; }

:local .header {
  composes: commonTextStyle;
  text-transform: uppercase;
  margin-bottom: 6px; }

:local .btnGroup {
  float: right; }
