@import "./../../../../../scss/mixins";
@import "./../../../../../scss/colors";

:local {

  .itemsGroupWrapper {
    margin-top: 30px;
    min-height: 100px;
  }

  .item {
    display: block;
    width: 100%;
  }


  .column {
    display: table;
    width: 100%;
  }
  .item.placeholderSelector .column {
    display: none;
  }

  .placeholder {
    display: none;
    background: $taskPlaceholder!important;
    height: 2px;
    width: 100%;
  }
  .item.placeholderSelector .placeholder {
    display: block;
  }

  .dragIcon {
    cursor: move;
    background: url('./../../../../../img/drag-handle-repeating.png') repeat-y;
    opacity: 0.5;
    width: 18px;
    height: 100%;
  }


  .itemTextArea {
    border: none!important;
    font-size: 15px !important;
    line-height: 26px !important;
  }

  .horizontalCentered {
    display: flex;
    justify-content: center;
  }


  .dateAndTimeWrapper {
    width: 88px;
  }
  .dropdownWrapper {
    width: 34px;
  }

  .dragIcon, .itemTextAreaWrapper, .dateAndTimeWrapper, .dropdownWrapper, .dragIcon {
    display: table-cell;
    vertical-align: middle;
  }


  .line {
    width: 100%;
    height: 1px;
    background-color: rgba(34,36,38,.15);
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .line.error {
    background-color: $error;
  }

  // TASKS GLOBAL STYLES (OVERRIDES)
  .itemsGroupWrapper :global {
    // semantic-ui override
    .ui.button.icon {
      background: #ffffff!important;
      padding-left: 5px;
      padding-right: 5px;
    }
  }


}
