/* BREAKPOINT */
/* Sample:
.content {
  @include breakpoint($xs) {
    width: 100px;
  }
}
*/
:local .itemsGroupWrapper {
  margin-top: 30px;
  min-height: 100px; }

:local .item {
  display: block;
  width: 100%; }

:local .column {
  display: table;
  width: 100%; }

:local .item.placeholderSelector .column {
  display: none; }

:local .placeholder {
  display: none;
  background: #008080 !important;
  height: 2px;
  width: 100%; }

:local .item.placeholderSelector .placeholder {
  display: block; }

:local .dragIcon {
  cursor: move;
  background: url("./../../../../../img/drag-handle-repeating.png") repeat-y;
  opacity: 0.5;
  width: 18px;
  height: 100%; }

:local .itemTextArea {
  border: none !important;
  font-size: 15px !important;
  line-height: 26px !important; }

:local .horizontalCentered {
  display: flex;
  justify-content: center; }

:local .dateAndTimeWrapper {
  width: 88px; }

:local .dropdownWrapper {
  width: 34px; }

:local .dragIcon, :local .itemTextAreaWrapper, :local .dateAndTimeWrapper, :local .dropdownWrapper, :local .dragIcon {
  display: table-cell;
  vertical-align: middle; }

:local .line {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 36, 38, 0.15);
  margin-top: 2px;
  margin-bottom: 2px; }

:local .line.error {
  background-color: #db2828; }

:local .itemsGroupWrapper :global .ui.button.icon {
  background: #ffffff !important;
  padding-left: 5px;
  padding-right: 5px; }
