@import "./../../../../scss/mixins";

:local {
  .wrapper {
    margin-top: 11px;
    display: table; /* Make the container element behave like a table */
    width: 100%;
  }

  .buttonWrapper {
    @include breakpoint($xs) {
      width: 100px;
    }
    padding-left: 10px;
  }
  .textAreaWrapper, .buttonWrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}
