/* BREAKPOINT */
/* Sample:
.content {
  @include breakpoint($xs) {
    width: 100px;
  }
}
*/
:local .wrapper {
  margin-top: 11px;
  display: table;
  /* Make the container element behave like a table */
  width: 100%; }

:local .buttonWrapper {
  padding-left: 10px; }
  @media screen and (max-width: 767px) {
    :local .buttonWrapper {
      width: 100px; } }

:local .textAreaWrapper, :local .buttonWrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
